#contactus{
    text-align: center;
    margin-top: 35px;
    font-family: 'Rakkas', cursive;
    font-size: 2em;
    color: #708a38;
    font-weight: 200;
}
#productsection{
    margin-top: 34px;
    margin-bottom: 50px;   
}
#productsection img{
    margin: 0 35px 30px 35px;
}
/*small view and above*/
@media(min-width:576px){
    /*removing the max width for containers for small view and above so that 
    more than 2 products show on the same line when possible*/
    .container{
        max-width: none;
    }
}
/*large view and above*/
@media(min-width:992px){
    #productsection img{
        width: 28%;
    }
}
/*extra small view*/
@media(max-width:575px){
    #contactus{
        margin-top: 25px;
        font-size: 1.5em;
    }
    #productsection{
        margin-top: 35px;
    }
}